.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input {
    width: 100%;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #7C7C7C;
}

.list-group-item:hover {
    background-color: #eee;
}

.m-b-20 {
    margin-bottom: 20px !important;
}
/* Dialogues animation */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
}