.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input {
    width: 100%;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #7C7C7C;
}

.list-group-item:hover {
    background-color: #eee;
}

.m-b-20 {
    margin-bottom: 20px !important;
}