.search-bar {
    margin: 20px 15px;
    text-align: center;
}

.search-bar input {
    width: 100%;
}

.loading {
    color: #fff;
    margin-left: 15px;
}

.list-group {
    background-color: #D36A48;
}

.list-group-item {
    background-color: #7C7C7C;
}

.list-group-item:hover {
    background-color: #eee;
}